

body {
  font-family:Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
  text-align: center;
}

#mycountries{
  background-color: rgb(98, 202, 107);
  display: inline-block;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}

nav {
  text-decoration: none;
  padding: 10px;
}

nav a {
  text-decoration: none;
  background-color: rgb(70, 187, 148);
  padding: 10px;
  margin: 0 5px;
  border-radius: 5px;
}

.active {
  background-color: rgb(255, 136, 0);

}

table img {
  max-width: 60px;
  height: auto;
}
